<div class="uk-align-center" *ngIf="currentVideoUrl$ | async">

  <div class="uk-modal-header">
    <div class="video-container">
      <iframe width="560" height="315" [src]="currentVideoUrl$ | async | safe" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  <div  class="uk-modal-footer uk-text-right">
    <h4>Vote</h4>
    <div class=" uk-margin uk-grid-small uk-child-width-auto" uk-grid>
      <label><input class="uk-radio" type="radio" value="1" [(ngModel)]="vote"> 1</label>
      <label><input class="uk-radio" type="radio" value="2" [(ngModel)]="vote"> 2</label>
      <label><input class="uk-radio" type="radio" value="3" [(ngModel)]="vote"> 3</label>
      <label><input class="uk-radio" type="radio" value="4" [(ngModel)]="vote"> 4</label>
      <label><input class="uk-radio" type="radio" value="5" [(ngModel)]="vote"> 5</label>
    </div>
  </div>
</div>

