<div class="uk-align-center" *ngIf="currentVideo$ | async">

  <div class="uk-modal-header">
    <div class="video-container">
      <iframe width="560" height="315" [src]="(currentVideo$ | async).url | safe" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  <div  class="uk-modal-footer uk-text-right" *ngIf="(getCurrentUser() | async).role.type == 2">
    <div class="uk-child-width-expand@s uk-text-center" uk-grid>
        <div>&nbsp;</div>  
        <div *ngFor="let entry of entries; let idx = index">
          <div style="float:left;height:50px;">
            <label>
              <input class="uk-radio" type="radio" [(ngModel)]="vote" [value]="entry.id" [disabled]="!canVote"> {{ entry.id }}
            </label>
          </div>
        </div>
        <div style="float:left;height:50px;padding-left: 10px;" *ngIf="canVote"><button [disabled]="" (click)="onCastVote(getCurrentUser().role)">Cast Vote</button></div>
      <div>&nbsp;</div>
    </div>
  </div>
</div>
