<div id="performer-page" class="uk-grid" *ngIf="authService.isAuthenticated()">
  <!-- Vertical Nav -->
  <div class="uk-width-1-5">

    <!-- Panel Box -->
    <div class="uk-panel uk-panel-box uk-height-viewport">

      <!-- Profile Area -->
      <p class="uk-text-center"><img src="{{ auth?.user?.picture }}"></p>
      <p class="uk-text-center">{{ authService?.user?.name }}</p>
      <p class="uk-text-center">Lorem ipsum dolor sit amet, consetetur sadipscing elitr. </p>

      <hr>

      <!-- Accordions-->
      <ul class="uk-nav uk-nav-parent-icon uk-nav-side" data-uk-nav="{multiple:true}">
        <li class="uk-parent"><a href="#">Competition Detail</a>
          <ul class="uk-nav-sub">
            <li>
              <div class="uk-panel uk-panel-box">
                Leaderboard<br>
              </div>
            </li>
          </ul>
        </li>

        <li class="uk-parent"><a href="#">Rounds</a>
         <ul style="list-style-type:none;">
            <li *ngFor="let item of [].constructor(rounds$ | async); let i = index">
              <a href="" (click)="onSelect(i+1)" [routerLink]="">Round {{i + 1}}</a>
            </li>
          </ul>
        </li>
      </ul>

      <hr>

      <a href='#' (click)="authService.logout()">Exit</a>

    </div>
  </div>

  <!-- Main Area -->

  <div class="uk-width-4-5" *ngIf="currentPerformer$ | async">
      <performer-bio></performer-bio>
  </div>

</div>


